body {

    font-family: Arial, sans-serif;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    margin: 0;
}
    .container  {
       text-align: center; 
    
    }


    input{
  padding: 10px;

  margin-right: 5px;

    }

button{
    padding: 10px;
    margin-left: 30px;
}

.back {

    /* background-color: brown; */
  background-image:url(time-management-background.jpg);
  background-size: 99%;  

}

li{
  text-align: left;
  
}